html {
    height: 100%;
}
* {
    margin: 0;
    padding: 0;
    border: 0;
    line-height: 1.4em;
    vertical-align: baseline;
    text-decoration: none;
    outline: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    color: #505050;
    height: 100%;
}
.container {
    /* flex:1; */
    display: flex;
    background-color:white;
    flex-direction: column;
    align-items: center;
    /* //justify-self: center; */
    height: 100%;
   
}
header {
    font-size: 40px;
    background-color: #EBD300;
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #505050;
}
.header-title {
    text-align: center;
    width: 350px;
}
time {
    padding-top: 30px;
    padding-bottom: 40px;
    font-size: 48px;
    display: flex;
    width: 1000px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color:#F3F2DC;
    text-align: center;
    
}
time > div {
    width: 250px;
    justify-content: center;
    
}
time > div > div {
    text-align: center;
}
.clock {
    display: flex;
    flex-direction: row;

}

main {
    background-color:#F3F2DC;
    width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    height: 100%;
 
}
@media only screen and (max-width: 1000px) {

    main {
        width: 100%;
    }
    time {
        width: 100%;
    }
}
@media only screen and (max-width: 749px) {
    time {
        justify-content: center;
    }
    #day-week-clock {
        order: 1;
    }
}

#all-tasks {  
    width: 700px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
    justify-content: center;

}
.task {
    
    margin-bottom: 50px;
}
.name {
    font-size: 30px;
   
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2px;
    margin-top: 10px;
    
}
.name-border {
    background-color: #EBD300;
    border: 1px solid #505050;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom: none;
}
.name-p {
    margin-left:20px;
}
.remove-task-border {
   
    border-radius: 50%;
}
.remove-task {
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 20px;
}
.remove-task :hover {
background-color: gray;
}
.text-border {
    border: 1px solid #505050;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    /* background-color: white; */
}
.text {
    font-size: 22px;
   
}
.text-p {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    text-align: justify;
}
.bin {
    width: 20px;
}
.add-task {
    margin-left: 20px;
    /* margin-bottom: 3px; */
    
}
#add-button {
    margin-right: auto;
    margin-right: 20px;
    margin-top: 10px;
    width: 100px;
    display: flex;
    flex-direction: row;
    justify-items: end;
    background-color: #EBD300;
    align-content: center;
    justify-content: space-evenly;
    border: 1px solid #505050;
    border-radius: 10px;
    font-size: 16px;
}
.task-form {
    width: 700px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
    justify-content: center;

}
.name .name-p input{
    font-size: 30px;
    background-color: transparent;
}
.text-p textarea{
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    background-color: transparent;
    width: 100%;
}
.submit-button-border {
    margin-left: auto;
    margin-right: 20px;
    margin-top: 10px;
    width: 100px;
    display: flex;
    flex-direction: row;
    justify-items: end;
    background-color: #EBD300;
    align-content: center;
    justify-content: center;
    border: 1px solid #505050;
    border-radius: 10px;
 
}
.submit-button-border:hover, .add-button:hover {
    background-color: #b4a202;
}
.submit-button {
    margin-right: 10px;
    width: 100px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    
    
}
.submit-button input {
    background-color: transparent;
    width: 100%;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}
#task-from-container {
    display: none;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #505050;
  }
  ::-moz-placeholder {
    /* Firefox 19+ */
    color: #505050;
  }
  :-ms-input-placeholder {
    /* IE 10+ */
    color: #505050;
  }
  @media only screen and (max-width: 700px) {
    #all-tasks {
        width: 100%;
    }
    .task-form {
        width: 100%;
    }
}
footer {
    display: flex;
    justify-self: flex-end;
}
