<!DOCTYPE html>
<html>
<head>
    <title>TODO</title>

    <meta charset="UTF-8">
    <!-- <meta name="todo app" content="simple productivity app"> -->
    <link href="/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,900&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!--     <script src="/js/getrequest.js"></script>-->
<!--kk-->
<!--    /-->


</head>
<body>
<div class="container">
    <header>
        <p class="header-title">Productivity App</p>
    </header>
    <!-- timer -->
    <time>
        <div class="clock">
            <div id="hours">00</div>:
            <div id="minutes">00</div>:
            <div id="seconds">00</div>
        </div>
        <div class="clock" id="day-week-clock">
            <div id="day-of-the-week">000000</div>
        </div>
        <div class="clock">
            <div id="day">00</div>.
            <div id="month">00</div>.
            <div id="year">00</div>
        </div>
    </time>
    <main>


        <!-- task form -->
        <div class="task-form">
            <!-- show and hide -->
            <div class="add-task">
                <button onclick="showAndHide()" class="add-button" type="button">Add task</button>
            </div>

            <form id="taskForm" method="POST">
                <div class="name-border">
                    <div class="name" >
                        <div class="name-p">
                            <input type="text" placeholder="Type here..." id="name-input">
                        </div>
                    </div>
                </div>
                <div class="text-border">
                    <div class="text">
                        <div class="text-p">
                            <textarea id="text-area" placeholder="Type here..." ></textarea>
                        </div>
                    </div>
                </div>
                <div class="submit-button-border">
                    <div class="submit-button">
                        <input id="submit-btn" type="button" value="Submit" onclick="submitForm()" >
                    </div>
                </div>
            </form>
        </div>

        <div id="all-tasks">
            <!--all tasks here-->
        </div>
    </main>
    <footer>
        <div>Icons made by <a href="https://www.flaticon.com/free-icon/delete_1214428" title="Kiranshastry">Kiranshastry</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
    </footer>
</div>
<script src="scripts.js"></script>
<script src="/post_request.js"></script>
</body>
</html>

